@model ASP_NET_MVC_Q3.Models.DataViewModel

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Add</title>


<h2>新增</h2>
<form action="/Product/Add" method="post">

    <div>
        <label>
            ID:
        </label>
        @Model.product.Id
        @Html.HiddenFor(m=>m.product.Id, Model.product.Id)
    </div>
    <div>
        <label>
            Name:
        </label>
        @Html.TextBoxFor(m => m.product.Name, Model.product.Name)
        @Html.ValidationMessageFor(Model => Model.product.Name)
    </div>
    <div>
        <label>
            Locale:
        </label>
        @Html.DropDownListFor(m => m.product.Locale, ViewBag.CategoryID as List<SelectListItem>)
       
    </div>
    <div>
        <label>
            Create Date:
        </label>
        @Model.product.CreateDate
        @Html.HiddenFor(m => m.product.CreateDate, Model.product.CreateDate)
        @Html.ValidationMessageFor(Model => Model.product.CreateDate)
    </div>
       
    <button type="submit" class="button02">Check</button>
</form>

