@model ASP_NET_MVC_Q3.Data.Product

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Add</title>


<h2>新增</h2>
<form action="/Product/List" method="post">

    <div>
        <label>
            ID:
        </label> 
           @Model.Id
          <input type="hidden" value="@Model.Id">
    </div>
    <div>
        <label>
            Name:
        </label>
            <input type="text" name="Name" value="@Model.Name" required>
            @Html.ValidationMessageFor(Model => Model.Name)
    </div>
    <div>
        <label>
            Locale:
        </label>
        @Html.DropDownListFor(m => m.Locale, ViewBag.CategoryID as List<SelectListItem>)
    </div>
    <div>
        <label>
            Create Date:
        </label> 
        @Model.CreateDate       
        @Html.ValidationMessageFor(Model => Model.CreateDate)
    </div>
       
    <button type="submit" class="button02">Check</button>
</form>

