@model ASP_NET_MVC_Q3.Data.Product
<head>
    <link href="~/Content/table.css" rel="stylesheet" />
    <link href="~/Content/word.css" rel="stylesheet" />
</head>

<h3 class="vintage2">確定刪除這筆資料?</h3>
    <table class="fancytable">
        <tbody>
            <tr class="headerrow">
                <td align="center" valign="center">Id</td>
                <td align="center" valign="center">ProductName</td>
                <td align="center" valign="center">Locale</td>
                <td align="center" valign="center">CreateDate</td>
                <td align="center" valign="center">UpdateDate</td>
            </tr>
            <tr class="datarowodd">
                <td align="center" valign="center">@Model.Id</td>
                <td align="center" valign="center">@Model.Name</td>
                <td align="center" valign="center">@Model.Locale</td>
                <td align="center" valign="center">@Model.CreateDate</td>
                <td align="center" valign="center">@Model.UpdateDate</td>
            </tr>

        </tbody>
        </table>
        @Html.ActionLink("返回前頁", "List") |
        <a href='@Url.Action("DeletePage", "Product", new { id = Model.Id, name = Model.Name, locale = Model.Locale, createdate = Model.CreateDate, updateDate = Model.UpdateDate })'>刪除</a>



