@model ASP_NET_MVC_Q3.Data.Product

<h3>確定刪除這筆資料?</h3>
<table border="1">
    <tbody>
        <tr>
            <th align="center" valign="center">Id</th>
            <th align="center" valign="center">ProductName</th>
            <th align="center" valign="center">Locale</th>
            <th align="center" valign="center">CreateDate</th>
            <th align="center" valign="center">UpdateDate</th>
        </tr>
        <tr>
            <td align="center" valign="center">@Model.Id</td>
            <td align="center" valign="center">@Model.Name</td>
            <td align="center" valign="center">@Model.Locale</td>
            <td align="center" valign="center">@Model.CreateDate</td>
            <td align="center" valign="center">@Model.UpdateDate</td>
        </tr>

    </tbody>
    @Html.ActionLink("返回前頁", "List")
  <a href='@Url.Action("DeletePage", "Product", new { id = Model.Id, name = Model.Name, locale = Model.Locale, createdate = Model.CreateDate, updateDate = Model.UpdateDate })'>刪除</a>



