@model ASP_NET_MVC_Q3.Data.Product

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Edit</title>


<h2>修改</h2>
<form action="/Product/Edit" method="post">

    <div>
        <label>
            ID:
        </label>
        @Model.Id
        @Html.HiddenFor(m => m.Id, Model.Id)
    </div>
    <div>
        <label>
            Name:
        </label>
        @Html.TextBoxFor(m => m.Name, Model.Name)
        @Html.ValidationMessageFor(Model => Model.Name)
    </div>
    <div>
        <label>
            Locale:
        </label>
        @Html.DropDownListFor(m => m.Locale, ViewBag.CategoryID as List<SelectListItem>)
    </div>
    <div>
        <label>
            Create Date:
        </label>
        @Model.CreateDate
        @Html.HiddenFor(m => m.CreateDate, Model.CreateDate)
        @Html.ValidationMessageFor(Model => Model.CreateDate)
    </div>
    <div>
    <label>
        Update Date:
    </label>
    @Model.UpdateDate
    @Html.HiddenFor(m => m.UpdateDate, Model.UpdateDate)
    @Html.ValidationMessageFor(Model => Model.UpdateDate)
    </div>

    <button type="submit" class="button02">Check</button>
</form>

