@model ASP_NET_MVC_Q3.Data.Product

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .vintage2 {
            color: transparent;
            background-color: blue;
            text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
            -webkit-background-clip: text;
        }
    </style>

</head>
<title>Edit</title>


<h2 class="vintage2">修改</h2>
<form action="/Product/Edit" method="post">

    <div>
        <span style="font-family:sans-serif;">
            ID:
        </span>
        @Model.Id
        @Html.HiddenFor(m => m.Id, Model.Id)
    </div>
    <div>
        <span style="font-family:sans-serif;">
            Name:
        </span>
        <input type="text" name="Name" value="@Model.Name" required>
        @Html.ValidationMessageFor(Model => Model.Name)
    </div>
    <div>
        <span style="font-family:sans-serif;">
            Locale:
            </span>
            @Html.DropDownListFor(m => m.Locale, ViewData["items"] as List<SelectListItem>)
    </div>
    <div>
        <span style="font-family:sans-serif;">
            Create Date:
            </span>
            @Model.CreateDate
            @Html.HiddenFor(m => m.CreateDate, Model.CreateDate)
            @Html.ValidationMessageFor(Model => Model.CreateDate)
    </div>   
    <button type="submit" class="button02">Check</button>
</form>

