@model IEnumerable<ASP_NET_MVC_Q3.Data.Product>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>List</h2>
    <table border="1">
        <input type="button" value="新增" onclick="location.href='@Url.Action("Add", "Product")'"/>
        <tbody>
            <tr>
                <th align="center" valign="center"> Action</th>
                <th align="center" valign="center">Id</th>
                <th align="center" valign="center">ProductName</th>
                <th align="center" valign="center">Locale</th>
                <th align="center" valign="center">CreateDate</th>
                <th align="center" valign="center">UpdateDate</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>                     
                        @Html.ActionLink("編輯", "Edit", "Product", new {id=item.Id, name=item.Name, locale=item.Locale,createdate=item.CreateDate,updateDate=item.UpdateDate })
                        @Html.ActionLink("刪除", "Delete", "Product", new {name = item.Name, locale = item.Locale, createdate = item.CreateDate, updateDate = item.UpdateDate })
                    </td>
                    <td align="center" valign="center">@item.Id</td>
                    <td align="center" valign="center">@item.Name</td>
                    <td align="center" valign="center">@item.Locale</td>
                    <td align="center" valign="center">@item.CreateDate</td>
                    <td align="center" valign="center">@item.UpdateDate</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
