@model IEnumerable<ASP_NET_MVC_Q3.Data.Product>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/word.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width"/>
    <title> List</title>
</head>
<body>
    <h2 class="vintage2">List</h2> 
    <input type="button" class="btn btn-default" value="新增" onclick="location.href='@Url.Action("Add", "Product")'" />
    <table class="fancytable">
        <tbody>
            <tr class="headerrow">
                <td width="80px" align="center" valign="center"> Action</td>
                <td align="center" valign="center">Id</td>
                <td align="center" valign="center">ProductName</td>
                <td align="center" valign="center">Locale</td>
                <td align="center" valign="center">CreateDate</td>
                <td align="center" valign="center">UpdateDate</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="datarowodd">
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.Id, @class = "datarowodd" })|
                        @Html.ActionLink("刪除", "Delete", new { id = item.Id, @class = "datarowodd" })
                    </td>
                    <td align="center" valign="center">@item.Id</td>
                    <td align="center" valign="center">@item.Name</td>
                    <td align="center" valign="center">@item.Locale</td>
                    <td align="center" valign="center">@item.CreateDate</td>
                    <td align="center" valign="center">@item.UpdateDate</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
